<div>
    <h2 id="page-heading">
        <span>Enum Filters</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-enum-filter" [routerLink]="['/enum-filter/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Enum Filter
            </span>
        </button>
    </h2>
    <btgrp-alert></btgrp-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="enumFilters?.length === 0">
        <span>No enumFilters found</span>
    </div>
    <div class="table-responsive" *ngIf="enumFilters?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Expression</span></th>
            <th><span>Hide</span></th>
            <th><span>Equals</span></th>
            <th><span>In Arr</span></th>
            <th><span>Specified</span></th>
            <th><span>Inlist</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let enumFilter of enumFilters ;trackBy: trackId">
                <td><a [routerLink]="['/enum-filter', enumFilter.id, 'view' ]">{{enumFilter.id}}</a></td>
                <td>{{enumFilter.title}}</td>
                <td>{{enumFilter.expression}}</td>
                <td>{{enumFilter.hide}}</td>
                <td>{{enumFilter.equals}}</td>
                <td>{{enumFilter.inArr}}</td>
                <td>{{enumFilter.specified}}</td>
                <td>
                    <span *ngFor="let inlist of enumFilter.inlists; let last = last">
                            <a class="form-control-static" [routerLink]="['/dummy-enums', inlist?.id, 'view' ]">{{inlist.dummy}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/enum-filter', enumFilter.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/enum-filter', enumFilter.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/enum-filter', { outlets: { popup: enumFilter.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
