<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="rangeFilter">
            <h2><span>Range Filter</span> {{rangeFilter.id}}</h2>
            <hr>
            <btgrp-alert-error></btgrp-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{rangeFilter.title}}</span>
                </dd>
                <dt><span>Expression</span></dt>
                <dd>
                    <span>{{rangeFilter.expression}}</span>
                </dd>
                <dt><span>Hide</span></dt>
                <dd>
                    <span>{{rangeFilter.hide}}</span>
                </dd>
                <dt><span>Equals</span></dt>
                <dd>
                    <span>{{rangeFilter.equals}}</span>
                </dd>
                <dt><span>Greater Than</span></dt>
                <dd>
                    <span>{{rangeFilter.greaterThan}}</span>
                </dd>
                <dt><span>Greater Than Or Equal</span></dt>
                <dd>
                    <span>{{rangeFilter.greaterThanOrEqual}}</span>
                </dd>
                <dt><span>In Arr</span></dt>
                <dd>
                    <span>{{rangeFilter.inArr}}</span>
                </dd>
                <dt><span>Less Than</span></dt>
                <dd>
                    <span>{{rangeFilter.lessThan}}</span>
                </dd>
                <dt><span>Less Than Or Equal</span></dt>
                <dd>
                    <span>{{rangeFilter.lessThanOrEqual}}</span>
                </dd>
                <dt><span>Specified</span></dt>
                <dd>
                    <span>{{rangeFilter.specified}}</span>
                </dd>
                <dt><span>In List</span></dt>
                <dd>
                    <span *ngFor="let inList of rangeFilter.inLists; let last = last">
                        <a [routerLink]="['/dummy', inList?.id, 'view' ]">{{inList.dummy}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/range-filter', rangeFilter.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
