<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dummy">
            <h2><span>Dummy</span> {{dummy.id}}</h2>
            <hr>
            <btgrp-alert-error></btgrp-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Dummy</span></dt>
                <dd>
                    <span>{{dummy.dummy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dummy', dummy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
