<div>
    <h2 id="page-heading">
        <span>Dummy Enums</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-dummy-enums" [routerLink]="['/dummy-enums/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Dummy Enums
            </span>
        </button>
    </h2>
    <btgrp-alert></btgrp-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="dummyEnums?.length === 0">
        <span>No dummyEnums found</span>
    </div>
    <div class="table-responsive" *ngIf="dummyEnums?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Dummy</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let dummyEnums of dummyEnums ;trackBy: trackId">
                <td><a [routerLink]="['/dummy-enums', dummyEnums.id, 'view' ]">{{dummyEnums.id}}</a></td>
                <td>{{dummyEnums.dummy}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/dummy-enums', dummyEnums.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dummy-enums', dummyEnums.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/dummy-enums', { outlets: { popup: dummyEnums.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
